.selection {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100px;
    height: 100px;
    border: 1px solid #4af;
    background: rgba(68, 170, 255, 0.4);
    box-sizing: border-box;
}
.cursor {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
}
.cursor img {
    width: 100%;
    height: 100%;
    padding: 3px;
    box-sizing: border-box;
}
.element {
    position: relative;
    display: inline-block;
    border-radius: 3px;
    width: 70px;
    height: 70px;
    margin: 5px;
    background: #f5f5f5;
    color: var(--color);
    cursor: pointer;
    transition: all ease 0.2s;
}
.element .symbol {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 25px;
}
.element .name {
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}

.elements ul, .elements ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.elements li, .elements li a {
    color: #555;
}
.elements li {
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 10px;
    margin: 5px 0px;
    --color: #333;
    font-weight: bold;
}
.elements li strong, .description strong {
    padding: 3px 5px;
    border: 1px solid #333;
}
.elements li.selected strong {
    border-color: #fff;
}

.selecto-area .selected, .selecto-area .selected a {
    color: #fff;
    background: var(--color);
}
.react {
    --color: #44aaff;
}
.angular {
    --color: #dd0031;
}
.preact {
    --color: #673ab8;
}
.vue {
    --color: #3fb984;
}
.svelte {
    --color: #ff6644;
}
.lit {
    --color: #4E8EE0;
}
.scenejs {
    --color: #333;
}
.moveable {
    --color: #4af;
}
.drag {
    --color: #555;
}
.guides {
    --color: #f55;
}
.ruler {
    --color: #E9C545;
}
